# Application Environment
NODE_ENV=development
PORT=3000
GLOBAL_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:4200

# MongoDB Replica Set (rs0)
MONGODB_URI=mongodb://localhost:27017/gigahub?replicaSet=rs0

# Redis Cache & Events
REDIS_URL=redis://localhost:6379

# MinIO Object Storage
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=gigahub
